.baner {
text-align: center;
}

.baner img {
    width: 109rem;
    padding: 0px 15px 0 0px;
    border-radius: 50px;
}

.maghale{
color: #fff;
color: #fff;
position: absolute;
left: 20rem;
top: 44rem;
}
.rectangle{
    
    position: absolute;
    top: 4rem;
    right: 20px;

}
.text {
    margin: 0px 0px 73px 0px;
    text-align: center;
    color: #fff;
    padding: 92px 0px 0px 0px;
}

.naghadvbarasi{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 187px;
}
.last{
    text-align: center;
    padding: 10px 10px 29px 10px;
}
.sabtnam button{
    width: 30rem;
  
    margin: 0 107px 0px 0px;
    height: 51px;
}